.section-heading {
    margin-bottom: 0.5rem;
    text-align: center;
}


.account-section {
    background-color: #9e9c9c; /* Grey background */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.account-section:hover {
    background-color: #9e9c9c; /* Light grey background on hover */
}

.account-section span {
    display: block;
}

.selected-account-section {
    background-color: #9e9c9c; /* White background */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.selected-account-section h2 {
    margin-bottom: 10px;
}

.account-details {
    background-color: #9e9c9c; /* White background */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.account-details p {
    margin: 0;
}

.account-details p span {
    font-weight: bold;
    margin-right: 5px;
}

.text-black {
    color: #000;
}

