.docker-form {
    display: flex;
    flex-direction: column;
    background-color: #c3c3c3;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 10px;
    color: black;
}

label {
  display: block;
  margin-bottom: 5px;
}
input,
select {
  width: 100%;
}

  .docker-heading {
    margin-top: 40px; 
  }

  .popup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .popup-content {
    width: 100%;
    max-width: 300px; 
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .error-message {
    color: red;
  }