.docker-form {
    display: flex;
    flex-direction: column;
    background-color: #c3c3c3;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 10px;
    color: black;
}

label {
    margin-right: 10px;
}

.error-message {
    color: red;
  }

  .tooltip-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-content {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 999;
    width: 250px;
    font-size: 14px;
    line-height: 1.5;
  }
  
  .tooltip-content p {
    margin: 0;
    color: #333;
  }
  
  .tooltip-content strong {
    font-weight: bold;
    color: #555;
  }